<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer data-th-fragment="footer">
<!--	<a id="goToTop" href="#">-->
<!--		<i class="fa fa-chevron-up fa-3x" aria-hidden="true"></i>-->
<!--	</a>-->
<!--    <div class="container">-->
<!-- 		<p class="m-0 text-center text-white">© 2019 <a href="https://waylau.com">ryoua.com</a></p>-->
<!--    </div>-->
	
   	<!-- JavaScript -->
    <script src="http://pqe89v51d.bkt.clouddn.com/thinker-md.vendor.min.js"></script>
    <script src="../../js/thymeleaf-bootstrap-paginator.js" th:src="@{/js/thymeleaf-bootstrap-paginator.js}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/tether/1.4.4/js/tether.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.js"></script>
    <script src="https://cdn.bootcss.com/tag-editor/1.0.20/jquery.tag-editor.js"></script>
    <script src="https://cdn.bootcss.com/chosen/1.8.8.rc6/chosen.jquery.js"></script>
 </footer>

</body>
</html>